/* body {
    overflow: hidden;
}

.loading-container {
    background-image: url('game-background.jpg');
    background-size: cover;
    background-position: center;
} */





.progress-container {
    background-color: #333; /* background of bar */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.progress-bar-bg {
    width: 100%;
    height: 100%;
    background-color: #f1e1e1; /* bar background */
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-fill {
    width: 0%;
    height: 100%;
    background-color: #0f0; /* bar fill color */
    border-radius: 15px;
    transition: width 0.1s linear;
}

#progressIcon {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 30px;
    transition: left 0.05s linear;
}
